<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>112834186164-oad956mk1gi70q4ab4uqstt4bodo134k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112834186164-oad956mk1gi70q4ab4uqstt4bodo134k</string>
	<key>API_KEY</key>
	<string>AIzaSyAH72OBlhsTmmx2BjRGmXvr4PUknpj1aNc</string>
	<key>GCM_SENDER_ID</key>
	<string>112834186164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keeptheglow.ktg</string>
	<key>PROJECT_ID</key>
	<string>keep-the-glow-2bd87</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-the-glow-2bd87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112834186164:ios:fd0ff967bb14ce39</string>
	<key>DATABASE_URL</key>
	<string>https://keep-the-glow-2bd87.firebaseio.com</string>
</dict>
</plist>